* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  background-image: url(https://images.unsplash.com/photo-1589306994259-a806e14b775a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 50px 15px;
  margin-top: 120px;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --card-set-gap: 30px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: white;
  box-shadow: 2px 2px 14px 0px #fff;
}

@media screen and (min-width: 480px) {
  .header {
    padding: 20px 40px;
  }
}

@media screen and (min-width: 720px) {
  .header {
    padding: 30px 50px;
  }
}

.header-title {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.nav-item i {
  font-size: 22px;
}

.nav-item i:nth-child(1) {
  margin-right: 15px;
}

.nav-item i:nth-child(3) {
  margin-left: 15px;
}

.nav-item i:nth-child(4) {
  font-size: 8px;
}

.nav-item i:nth-child(5) {
  font-size: 8px;
}

.nav-item i:nth-child(6) {
  font-size: 8px;
}

@media screen and (min-width: 480px) {
  .header-title {
    font-size: 18px;
    font-weight: 700;
  }
}

@media screen and (min-width: 720px) {
  .header-title {
    font-size: 24px;
  }
}

.active-link {
  color: rgb(245, 229, 12);
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav-list {
  display: flex;
}

.nav-link {
  text-decoration: none;
}

.btn {
  font-size: 14px;
  background-color: #f3e520;
  border: none;
  color: rgb(18, 32, 223);
  font-weight: 600;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #b6aa07;
  color: rgb(252, 252, 252);
}

@media screen and (min-width: 720px) {
  .btn {
    font-size: 18px;
    padding: 5px 25px;
  }
}

.footer {
  margin-top: auto;
  background-color: blue;
  padding: 10px;
  color: white;
}

.footer-txt {
  text-align: center;
}

/* ------------------------------------------------- */

.item-card {
  max-width: 365px;
  max-height: 660px;
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  cursor: pointer;
  border: 2px solid #fefefe;
  border-radius: 8px;
}

.item-card img {
  border-radius: 8px;
}

.item-card:hover,
.item-card:focus {
  box-shadow: 0px 1px 1px rgba(248, 248, 248, 0.12), 0px 4px 4px rgba(250, 247, 247, 0.06),
    1px 4px 6px rgba(252, 252, 252, 0.16);
}

.card-content {
  padding: 20px 24px;
  border-top: none;
  background: black;
  border-radius: 8px;
}

.card-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: yellow;
}

@media screen and (min-width: 420px) {
  .card-name {
    font-size: 16px;
    font-weight: 700;
  }
}

.type-of-card {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: rgb(206, 241, 6);
}

.animal-icon {
  color: white;
  margin-left: 20px;
  font-size: 26px;
}

@media screen and (min-width: 420px) {
  .type-of-card {
    font-size: 18px;
    font-weight: 700;
  }
}

.card-text {
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 420px) {
  .card-text {
    font-size: 18px;
  }
}

.list-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.preview {
  max-width: 260px;
  max-height: 410px;
}

@media screen and (min-width: 420px) {
  .preview {
    max-width: 360px;
    max-height: 460px;
  }
}

.anchor {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 99;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fdf90f;
  box-shadow: 0 4px 10px rgb(17, 32, 236);
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(120%);
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchor-active {
  transform: translateY(0);
  opacity: 1;
}

.anchor i {
  font-size: 26px;
  color: #060394;
}

.btn-animation {
  animation-name: top;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes top {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

.default_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 100px;
}

.default_text img {
  max-width: 300px;
  max-height: 400px;
  margin-top: 20px;
}

.search {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  transition: 0.5s;
  box-shadow: 0 0 5px #060394;
  overflow: hidden;
}

@media screen and (min-width: 520px) {
  .search {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
}

.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 520px) {
  .search .icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
}

.search .icon::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border: 3px solid #060394;
  border-radius: 50%;
  transform: translate(-2px, -2px);
}

.search .icon::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 12px;
  background: #060394;
  transform: translate(8px, 8px) rotate(-45deg);
}

.active {
  width: 160px;
}

@media screen and (min-width: 520px) {
  .active {
    width: 250px;
  }
}

.search .input {
  position: relative;
  width: 120px;
  height: 30px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 520px) {
  .search .input {
    width: 200px;
    height: 40px;
  }
}

.search .input input {
  position: absolute;
  top: 0;
  left: -25px;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: 10px;
  padding: 10px 5px;
}

@media screen and (min-width: 520px) {
  .search .input input {
    font-size: 16px;
    left: 0;
  }
}

.clear-btn {
  visibility: hidden;
  position: absolute;
  border: 0;
  outline: 0;
  background-color: white;
  top: 50%;
  right: 20px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.clear-btn::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear-btn::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(-45deg);
}

@media screen and (min-width: 580px) {
  .clear-btn {
    visibility: visible;
  }
}